li {
  padding: 5px;
  margin: 5px;
  /* background: #faebd7; */
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  /* background: aqua; */
}

.form-group {
  margin-bottom: 5px;
}

h3 {
  text-align: center;
}

body {
  background-color: black;
  color: darkorange;
}

.form-control, input, textarea {
  background-color:#868e96;
  color: #FFF;
}